<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- Required meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Document</title>
	</head>
	<body>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
		<div class="container px-4 py-5" id="featured-3">
			
			<div class="container px-4 py-5" id="featured-3">
				<h2 class="pb-2 border-bottom">Scan the QR Code!</h2>
				<p>Now, Alice will scan the QR code.</p>
				<img src=<%=src%> alt="QR Code Image">
				<h4 id="myH4">Connection ID <%=connectionID%></h4>
			</div>
			
		</div>

		<script>
			$( document ).ready(function() { 
				setTimeout(executeQuery, 2000);
			});

			
			function executeQuery() {
				var id = $('#myH4').text();
				
				$.get("/status", function(data, status){
					console.log("status: " + data)
					if(data === 'true'){
						alert("Connection Created Successfully! Now You Can Issue VC")
						window.location.href = '/'
					}
				});
				// recursive call to listen the /status from webhooks
				setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
			}
		</script>
	</body>
</html>